$teaColor: #E74C3C;
$assetPath:"/assets/";

$lightText:#f0f0f0;

$paleSmile:#F9E79F;
$richSmile:#F5B041;
#home {
    width: clamp(400px, 100%, 600px);
    margin-bottom: 30px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.homeWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.teaPrefix {
    overflow: hidden;
}

.welcomer p {
    transition: opacity 1s ease, max-width 1s ease;
}

body {
    font-family: 'Trebuchet MS';
    margin: 0;
    overflow-x: hidden;
    background-color: #000;
}

.welcomer {
    justify-content: right; flex-shrink: 0;
    padding: 10px 0;
    display: flex;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: rgb(207, 207, 207);
    color: rgb(98, 98, 98);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.7);
}

.welcome {
    margin: 0; position: absolute; right: 0;
    z-index: 5; gap: 10px;
    /*width: 100%; position: absolute;*/
    color: #fff; flex-flow: row-reverse;
    font-size: 1.5rem;
    font-weight: lighter;
    display: flex;
    transition: transform 1s ease-out;
    -webkit-transition: transform 1s ease-out;
    align-items: center;
}
.teaBar {
    position: fixed; width: 100%;
    z-index: 10; top: 0;
    display: flex; flex-flow: column;
}
.chattea {
    white-space: nowrap;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*width: 100%;*/
    transition: transform 2s ease, left 2s ease-in-out;
    color: rgb(98, 98, 98);
    font-size: 1.3rem;
    justify-content: revert;
    align-items: center;
    gap: 10px;
}

.chattea p {
    margin: 0;
}

.chattea div {
    display: flex;
    font-size: 1.7rem;
    align-items: center;
}

.chattea div span {
    color: $teaColor;
}

.chattea div div {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.scroller {
    z-index: 1;
    margin: 0 0 15px 15px;
    background-color: $teaColor;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-image: url(#{$assetPath}/up_arr.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: bottom 0.5s ease-out;
}

#bloom {
    left: 0;
    bottom: 0;
    z-index: -2;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    /*background: radial-gradient(#FFBF00, #FF7F50);
background-repeat: no-repeat;
background-size: cover;*/
}

#root, #main {
    text-align: center;
    /*display: grid;*/
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
}

#main {
    margin-top: 90px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

#root {
    width: 100%;
    height: 100%;
    /*overflow-y: hidden;*/
}

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    transition: opacity 0.5s ease-out;
}

.overlay form {
    display: grid;
}

.popup {
    z-index: 5;
    transition: transform 1s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    /*transform: translate(-50%, -50%);display: block;*/
    width: clamp(200px, 90%, 350px);
    background-color: rgb(246, 246, 246);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
}
.userOptions {
    align-items: center;
}
.userOptions p {
    margin: 0; width: 100%; color:#3e3e3e;
}
.userOptions .mpContent {
    margin-top: 0; left: 0;
    display: none;
    button {
        padding: 15px 25px;
    }
}

.userOptions:hover .mpContent {
    display: flex;
}
.notifNest {
    width: 100%; display: flex; flex-flow: column;
    .notification:nth-child(even) {
        background-color: #cacaca;
    }
}
.notifMain {
    display: flex; justify-content: center; align-items: center;
    position: relative; font-weight: normal; gap: 5px; cursor: pointer;
    background-color: #414141; padding: 5px; border-radius: 5px;
    p {
        margin: 0;
    }
    span {
        background-color: #8f8f8f;
        padding: 5px 10px; border-radius: 5px;
        transition: background-color 0.5s ease-in;
    }
    .mpContent {
        color: #000; position: absolute; right: 0;
    }
    &:hover {
        .mpContent {
            display: block;
        }
    }
}
.notification {
    display: flex; padding: 10px;
    background-color: #bebebe;
    align-items: stretch; flex-basis: content;
    transition: max-height 0.5s ease-in;
    flex-grow: 0;
    .nBody {
        cursor: default; justify-content: center; padding: 20px 10px;
        flex: 100%; background-color: #313131;
        color: #fff; font-size: 1.2rem; margin:0;
        display: flex; flex-flow: row; flex-grow: 0;
        word-break:break-word;
        div {
            gap: 10px; display: flex; justify-content: center; align-items: center;
            span {
                font-size: 1.5rem;
            }
        }
        p {
            margin: 0;
        }
        &:hover {
            box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
    .nType {
        background: none;
    }
    button {
        flex-shrink: 0;
        font-size: 1.5rem; outline: none; border: none;
        padding: 10px;
    }
    .nDelete {
        background-color: #4d4d4d;
    }
}
.welcome .pfp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: stretch;
}

.login {
    color: #1ABC9C;
    margin: 0;
}

.signup {
    margin-top: 15px;
    margin-bottom: 0;
    color: #ccff00;
}

.loginForm input {
    border: 2px solid rgb(172, 172, 172);
    color: #fff;
    background-color: rgb(180, 180, 180);
    transition: border 1s ease;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    margin: 5px 0;
    font-size: 1.2rem;
}

.loginForm input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.loginForm input:active, .loginForm input:focus {
    border: 2px solid #F39C12;
}

.loginForm input[type="submit"] {
    background-color: #F39C12;
    color: #fff;
    border: none;
}

.signinBtn {
    border: none;
    font-size: 1.2rem;
    padding: 10px;
    background: none;
    border-radius: 10px;
    border: 2px solid #F39C12;
    color: rgb(214, 214, 214);
}

.loginTitle button, p {
    display: inline-block;
    vertical-align: middle;
}

.loginTitle p {
    font-size: 2.5rem;
    color: #fff;
    margin: 0 20px;
}

.loginTitle button {
    outline: none;
    border: none;
    padding: 15px;
    font-size: 1.5rem;
    color: #fff;
}

.loginTitle button:first-child {
    background: none;
    border: 2px solid #1ABC9C;
}

.loginTitle button:last-child {
    background: none;
    border: 2px solid #ccff00;
}

#signupForm h1 {
    margin: 0;
}

#signupForm p {
    color: $teaColor;
    font-weight: 900;
    display: none;
    font-size: 1.2rem;
    margin: 5px 0;
}

#signupForm input {
    border: 2px solid rgb(172, 172, 172);
    color: #fff;
    transition: border 1s ease;
    color: #ccff00;
}

#signupForm input:active, #signupForm input:focus {
    border: 2px solid #ccff00;
}

.loginForm {
    transition: transform 1s ease;
    display: grid;
}

.signupBtn {
    background-color: #ccff00;
}

.loginBtn {
    background-color: #F39C12;
}

.overlay input[type="submit"] {
    font-size: 1.2rem;
    background-color: #F39C12;
    font-weight: bold;
    color: #fff;
    border: none;
}

.submission {
    display: flex;
    gap: 10px;
    align-items: center;
    flex: 1 0;
    background-color: #fff;
    padding: 10px;
    background-color: #181818;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.subWarning {
    display: flex; color: #fff; justify-content: center;
    align-items: center; padding: 15px 10px; background-color: #F1C40F;
    font-size: 1.2rem; position: relative;
}
.subWarning .compText {
    z-index: 2;
}
.subWarning .compProgress {
    background-color: #D4AC0D; height: 100%;
    width: 100%; max-width: 0; position: absolute;
    transition: max-width 0.4s ease-in; left: 0;
}
.subWarning div span {
    opacity: 0.7;
}
.subProgress {
    display: flex; background-color: #AED6F1;
    height: 20px; position: relative;
}
.subProgress div {
    background-color: #2E86C1; height: 100%;
    width: 100%; max-width: 0;
    transition: max-width 0.4s ease-in;
}
.subVerbose {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.subPop {
    display: flex;
    flex-flow: column;
    z-index: 1;
    overflow: hidden;
}

.submission input[type="file"] {
    border: none;
    outline: none;
    height: 100%;
}

.submission input[type="text"] {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    display: inline-block;
    padding: 0 15px;
    /*width: 60%;
height: 100%;*/
}

.submission input[type="submit"] {
    background-color: #FF5733;
    border-radius: 0 20px 20px 0;
    background-image: url(#{$assetPath}/generated.svg);
}

.subWidget {
    padding: 0;
    flex-shrink: 0;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}

.subWidget .managePost {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.mpContent {
    margin: 0; z-index: 2;
    // left:0;
    // transform: translateY(-5px);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    flex-flow: column;
    .verifyEmail {
        display: flex; flex-flow: row;
        align-items: center; gap: 5px;
        justify-content: center;
        span {
            font-size: 1.5rem;
        }
    }
    .logout {
        background-color: #D35400; color:#e7e7e7;
    }
    button {
        outline: none;
        border: none;
        background-color: #d1d1d1;
        padding: 15px 10px;
        width: 100%;
        font-size: 1.2rem;
        transition: background-color 0.5s ease-out, box-shadow 0.2s ease-in;
    }
}
.verifyWindow {
    width: clamp(300px, 90%, 400px); z-index: 5;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%); padding: 20px;
    background-color: rgb(31, 31, 31);
    justify-content: center; align-items: center;
    flex-flow: column; border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    transition: transform 0.5s ease-in;
    .inner {
        padding: 20px;
    }
    h1 {
        color: #F39C12;
        margin:0;
    }
    p {
        color: rgb(182, 182, 182);
        font-size: 1.2rem;
    }
}
#loader {
    display: block; width: 50px; height: 50px;
    border: 10px solid #bebebe;
    border-top: 10px solid #F39C12;
    border-radius: 50%;
    animation: spinny 1s linear infinite;
}
@keyframes spinny {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(90deg);
    }
    60% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.verifyWindow form {
    display: flex; width: 100%;
    flex-flow: column; align-items: stretch;
    justify-content: center; gap: 10px;
    input {
        border: none; outline: none; padding: 10px 15px;
        font-size: 1.2rem;
    }
    input[type="email"] {
        text-align: center;
        background:none;
        color:rgb(241, 241, 241);
        &:focus {
            background-color: #fff;
            color: #414141;
        }
    }
    input[type="submit"] {
        font-size: 1.2rem; color: #fff;
        background-color: #D35400;
        transition: background-color 0.3s ease-out;
        &:hover {
            background-color: #F39C12;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}
.managePost {
    display: flex; flex: 50%;
    .smileButton {
        background-color: $paleSmile; justify-content: center;
    }
}

.fileProgressBar {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 10px;
}

.fileProgressBar div {
    background-color: #2ECC71;
    height: 100%;
    transition: width 1s ease;
}

.fileCaption {
    width: 100%;
    background-color: #fff;
    padding: 15px 0;
}

#richImage {
    width: 100%;
    object-fit: contain;
    background-color: #1f1f1f;
}
@media only screen and (min-width:400px) {
    .imgOverlay input {
        font-size: 1.4rem;
    }
    .userBadge {

    }
}
@media only screen and (max-height:400px) {
    #richImage {
        object-fit: contain;
        max-height: 350px;
    }
}
@media only screen and (min-height:400px) {
    #richImage {
        object-fit: contain;
        max-height: 450px;
    }
}
@media only screen and (min-height:500px) {
    #richImage {
        object-fit: contain;
        max-height: 450px;
    }
}
@media only screen and (min-height:700px) {
    #richImage {
        object-fit: cover;
        // max-height: 700px;
    }
}
#fileNest img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    background-color: #a4a4a4;
}

.imgOverlay {
    width: 100%; z-index: 1;
    position: absolute;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%);
}
.imgOverlay button {
    position: absolute;
    left: 0; top: 0; background-color: #E74C3C;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    outline: none; border: none;
    width: 60px; height: 60px; border-radius: 50%;
    margin-left: 10px; margin-top: 10px;
}
.imgOverlay button:hover {
    font-size: 1.5rem;
}
.imgOverlay input {
    bottom: 0;
    font-weight: lighter;
    width: 100%;
    // font-size: 1.8rem;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    margin-bottom: 20px;
}

.imgOverlay input::placeholder {
    color: #fff;
    opacity: 0.7;
}

.submission label {
    background-image: url(#{$assetPath}/cam_icon.svg);

    background-size: 40px 40px;
    background-color: $teaColor;
    border-radius: 20px 0 0 20px;
}
.postPage {
    display: flex; justify-content: center;
    .mediaCard {
        width: clamp(400px, 100%, 600px); 
    }
    .postNotFound {
        button {
            outline: none; border: none; padding: 15px 20px;
            font-size: 1.4rem; color: #fff; background-color: #7bbde9;
            transition: background-color 0.3s ease-in;
            &:hover {
                background-color: #3498DB;
            }
        }
    }
}

.mediaCard {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-flow: column;
    flex-wrap: wrap;
    width: 100%;
    /*padding: 15px; border-radius: 20px*/
    background-color: #e5e5e5;
    min-width: 250px;
    transition: background-color 0.6s ease-out, box-shadow 0.4s ease-out
        /*, border-radius 0.5s ease*/
    ;
}
.postActions:hover .deletePost {
    flex: 10%;
}

.orangeAccent {
    transition: box-shadow 0.4s ease-out;
}

.orangeAccent:hover, .orangeAccent:focus, .orangeAccent:active {
    box-shadow: 3px 3px #FF5733;
}

.mediaPrompt {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    max-width: 90%;
    padding: 10px;
    background-color: #dbdbdb;
    text-align: center;
}

.mediaPrompt hr {
    opacity: 0;
    margin: 0;
}

.mediaPrompt p {
    display: inline-block;
    color: $teaColor;
    margin: 0 0 10px 0;
}

.timestamp {
    color: rgb(98,98,98);
    margin: 0; padding: 10px 0;
    z-index: 1;
    display: block;
}

.mediaPostImg {
    width: 100%; object-fit: cover; overflow: hidden;
    display: flex; position: relative;
}
.mediaPostImg img {
    transition: transform 1s ease;
}
.mediaPostImg:hover img {
    transform: scale(1.1);
}
.mediaPost:hover {
    /*border-radius: 10px;*/
    background-color: #fff;
}

.mediaContent {
    display: flex; flex: 100%;
    background-color: #414141;
    flex-direction: column;
    width: 100%; justify-content: center;
}
.mediaContent p {
    margin: 0; color:#f0f0f0;
    padding: 0 10px; word-break: break-word;
}
.mediaSecondary {
    width: 100%;
}
.postActions {
    display: flex; height: 50px; position: relative;
    justify-content: center; align-items: stretch;
}
.postActions .deleteOverlay {
    width: 100%;
    height: 100%; background-color: #E74C3C;
    z-index: 1; transition: max-width 0.5s ease;
    position: absolute; left: 0;
}
.postActions .actionBundle {
    display: flex; flex: 50%;
}
.postActions .deletePost {
    flex: 0;
}
.postActions button, .postActions label {
    flex: 50%; border: none; outline: none;
    font-size: 1.2rem; padding: 0;
    transition: flex 1s ease, background-color 0.5s ease, 
        box-shadow 0.2s ease-in;
}
.postActions .smile {
    background-color: $richSmile;
    color: #fff; width: 100%;
}
.postActions .smile:hover {
    background-color: $richSmile;
}
.postActions .smileButton input:checked + span {
    background-color: $paleSmile; cursor: default;
}
.postUserInfo {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); z-index: 1;
    display: flex;
    width: 100%;
    align-items: stretch;
}

.postUserInfo .username {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    color: #FF5733;
}
.commenter {
    display: none; position: relative;
    background-color: #212121;
    padding: 10px;
    justify-content: center; align-items: center;
}
.commenter:focus-within {
    display: flex;
}
.commenter input {
    outline: none; border: none; padding: 15px 10px;
    font-size: 1.2rem;
}
.commenter input[type="text"] {
    flex: 100%; border-radius: 20px 0 0 20px;
}
.commenter input[type="submit"] {
    flex-shrink: 0; background-color: #F1C40F; color: #fff;
    background-image: url(#{$assetPath}/generated.svg);
    background-position: center; background-size: 50%;
    background-repeat: no-repeat; width: 60px;
    border-radius: 0 20px 20px 0;
}
.commentSection {
    display: flex; flex-flow: column;
    padding: 0; background-color: #313131;
}
.commentSection .comment:nth-child(odd)
{
    background-color: #3b3b3b;
}
.commentSection .comment:nth-child(even)
{
    background-color: #151515;
}
.comment {
    color: #9e9e9e; padding: 5px 10px;
    a {
        color: $teaColor; font-weight: bold;
        font-size: 1.1rem; text-decoration: none;
    }
    .cDelete {
        font-weight: normal; margin: 0; cursor: pointer;
    }
    .content {
        color: $lightText;
        font-weight: normal;
        word-break: break-word;
    }
}

.smileButton {
    align-items: center;
    background-color: #cecece;
    z-index: 0;
    flex: 50%; display: flex; align-items: stretch;
}

.smileButton span {
    float: left;
    outline: none; border: none; background: none;
    font-size: 1.2rem;
    transition: background-color 0.6s ease, color 0.6s ease, box-shadow 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smiley .smileButton+input[type="checkbox"]:checked {
    background-color: #dda924;
    box-shadow: inset 3px 0 0 #F4D03F;
    cursor: default;
    color: #fff;
}

.smileButton input {
    opacity: 0;
    width: 0;
    height: 0%;
    display: none;
}