@import "utils.scss";

h2 small {
	font-weight: normal;
	color: #f00;
	font-size: 0.8rem;
}
a {
	color: $niceOrange;
}
button.crypto {
	background-color: $niceOrange;
	padding: 5px 10px;
}
button.crypto.alt {
	background-color: $foreMain;
	color: #fff;
	&.delete {
		color: $teaColor;
	}
}
#chatscontainer {
	display: flex;
	flex-flow: column-reverse;
	flex: 100%;
	width: 100%;
	justify-self: center;
	.header {
		background-color: #22262b;
	}
	.chatNest {
		flex: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
	}
}
.chats .tip.direction::after {
	content: " below";
}
@media screen and(min-width: 600px) {
	#chatscontainer {
		flex-flow: row;
	}
	.chats .tip.direction::after {
		content: " on the left";
	}
	.buddies {
		flex-flow: column-reverse !important;
		justify-content: flex-end;
		max-width: 220px;
		.buddy {
			line-height: 1.5rem !important;
		}
		.buddy .username {
			display: block !important;
			margin: 0;
			text-align: left;
			span {
				width: max-content;
				display: block;
			}
		}
	}
	// .buddies .add {
	// 	margin: 10px auto !important;
	// }
	.chatbox {
		flex: 100%;
	}
}
.buddies {
	display: flex;
	flex-flow: row;
	background-color: #000;
	.add,
	.buddy img {
		width: 60px;
		aspect-ratio: 1/1;
		padding: 10px;
		position: relative;
	}
	.hint {
		bottom: 80%;
		padding: 0.5rem;
		left: 50%;
		animation: abouthover 2s linear infinite;
		background-color: $mainEven;
		transform: translateX(-50%);
		color: $niceOrange;
		z-index: 2;
		&:hover {
			text-decoration: none;
		}
		&::after {
			bottom: unset;
			top: 90%;
			border-color: $mainEven transparent transparent transparent;
			right: 50%;
			transform: translateX(50%);
		}
	}
	.add {
		border-radius: 100vh;
		border: 4px dashed $niceOrange !important;
		background: none;
		color: #fff;
		margin: 10px;
		&:hover i {
			transform: scale(2);
		}
		.hint {
			bottom: unset;
			z-index: 4;
			bottom: 140%;
			left: -12.5%;
			color: $alttext;
			&::after {
				top: unset;
				top: 90%;
				border-color: $mainEven transparent transparent transparent;
			}
		}
	}
	.buddy[disabled] {
		opacity: 0.5;
		img {
			filter: grayscale(1);
		}
	}
	.buddy {
		display: flex;
		position: relative;
		padding: 10px;
		gap: 0.5rem;
		flex-flow: row;
		align-items: center;
		line-height: 0;
		.username {
			display: none;
			color: $mainFore;
		}
	}
	.buddy:not([disabled]):hover {
		background-color: rgba($color: #fff, $alpha: 0.1);
	}
	.buddy[active="true"] {
		background-color: rgba($color: $niceOrange, $alpha: 0.7) !important;
		p.username {
			color: #000;
			span {
				color: $mainFore;
			}
		}
	}
	.buddy[active="false"] .username span {
		color: $niceOrange;
	}
	.buddy img {
		// height: 100%;
		// width: 100%;
		object-fit: cover;
		border-radius: 100vh;
		padding: 0 !important;
	}
}

.chatbox {
	display: flex;
	flex-flow: column;
	flex: 100%;
}
.chatbox .chats {
	flex: 100%;
	background-color: $foreMain;
	position: relative;
	padding: 15px;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	gap: 5px;
	overflow-y: scroll;
	flex-direction: column-reverse;
	.timetravel {
		width: 100%;
		padding: 0.5rem;
		margin-bottom: 10px;
		background: none;
		color: $niceOrange;
		&:hover {
			color: #fff;
		}
	}
	.message {
		position: relative;
		padding: 5px 10px;
		background-color: rgba($color: $niceOrange, $alpha: 0.7);
		color: #fff;
		max-width: 70%;
		text-align: left;
		img {
			width: 100%;
			border-radius: 0.5rem;
			cursor: pointer;
			&::before {
				content: '\f0c1';
				color: #fff;
			}
		}
	}
	.message[preview="true"]::before {
		content: "" !important;
		background-color: rgba($color: $niceOrange, $alpha: 0.5);
	}
	.message[self="true"] {
		align-self: flex-end !important;
		background-color: $alttext;
		text-align: right;
	}
	.message[self="false"]::before {
		right: unset;
		left: 100%;
	}
	.message::before {
		position: absolute;
		right: 100%;
		content: "\f023";
		width: max-content;
		margin: 0 0.5rem;
		color: $mainFore;
	}
	.message[plain="true"]::before {
		content: "\f3c1" !important;
		opacity: 0.5;
	}
	.tip {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba($color: #000000, $alpha: 0.5);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		span {
			color: $niceOrange;
		}
		p {
			width: 100%;
		}
		a {
			text-decoration: none;
		}
		&:hover a {
			text-decoration: underline;
		}
	}
}
.chatbox .status {
	background-color: $foreAlt;
	margin: 0;
	padding: 10px;
	padding-bottom: 0;
	color: #fff;
	i {
		color: $mainFore;
	}
}
.chatbox .textfield {
	background-color: $foreAlt;
	padding: 10px;
	display: flex;
	flex-flow: row;
	justify-content: stretch;
	input[type="text"] {
		flex: 100%;
		background-color: $foreMain;
		outline: none;
		border: none;
		padding: 10px;
		color: #fff;
	}
	button {
		flex-shrink: 0;
		font-size: 1.5rem;
		aspect-ratio: 1/1;
		height: 50px;
		background-color: #111;
		color: $niceOrange;
		position: relative;
		// border-radius: 100vh;
		&:disabled {
			opacity: 0.5;
		}
	}
}
.chatOptions {
	width: 100%;
	display: flex;
	flex-flow: row-reverse;
	background-color: $foreMain;
	& > * {
		flex: 50%;
	}
}
