@import "utils.scss";

h2 small {
	font-weight: normal;
	color: #f00;
	font-size: 0.8rem;
}
a {
	color: $niceOrange;
}
button.crypto {
	background-color: $niceOrange;
	padding: 5px 10px;
}
button.crypto.alt {
	background-color: $foreMain;
	color: #fff;
}
#chatscontainer {
	display: flex;
	flex-flow: column;
	flex: 100%;
	width: 100%;
	justify-self: center;
	.header {
		background-color: #22262b;
	}
}
@media screen and(min-width: 600px) {
	#chatscontainer {
		flex-flow: row;
	}
	.buddies {
		flex-flow: column-reverse !important;
		justify-content: flex-end;
	}
	// .buddies .add {
	// 	margin: 10px auto !important;
	// }
	.chatbox {
		flex: 100%;
	}
}
.buddies {
	display: flex;
	flex-flow: row;
	background-color: #111;
	.buddy,
	.add {
		height: 60px;
		aspect-ratio: 1/1;
		padding: 10px;
		position: relative;
	}
	.hint {
		bottom: 80%;
		padding: 0.5rem;
		left: 50%;
		animation: abouthover 2s linear infinite;
		background-color: $mainEven;
		transform: translateX(-50%);
		color: $niceOrange;
		z-index: 2;
		&:hover {
			text-decoration: none;
		}
		&::after {
			bottom: unset;
			top: 90%;
			border-color: $mainEven transparent transparent transparent;
			right: 50%;
			transform: translateX(50%);
		}
	}
	.add {
		border-radius: 100vh;
		border: 4px dashed $niceOrange !important;
		background: none;
		color: #fff;
		margin: 10px;
		&:hover i {
			transform: scale(2);
		}
		.hint {
			bottom: unset;
			top: 140%;
			left: -17.5%;
			color: $alttext;
			&::after {
				top: unset;
				bottom: 90%;
				border-color: transparent transparent $mainEven transparent;
			}
		}
	}
	.buddy[disabled] {
		opacity: 0.5;
		img {
			filter: grayscale(1);
		}
	}
	.buddy:not([disabled]):hover {
		background-color: rgba($color: #fff, $alpha: 0.1);
	}
	.buddy img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 100vh;
		background-color: #000;
	}
}

.chatbox {
	display: flex;
	flex-flow: column;
	flex: 100%;
}
.chatbox .chats {
	flex: 100%;
	background-color: $foreMain;
	position: relative;
	padding: 15px;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	gap: 5px;
	overflow-y: scroll;
	flex-direction: column-reverse;
	.timetravel {
		width: 100%;
		padding: 0.5rem;
		margin-bottom: 10px;
		background: none;
		color: $niceOrange;
		&:hover {
			color: #fff;
		}
	}
	.message {
		padding: 5px 10px;
		background-color: $alttext;
		color: #fff;
		max-width: 70%;
		text-align: left;
	}
	.message[self="true"] {
		align-self: flex-end !important;
		background-color: $niceOrange;
		text-align: right;
	}
	.tip {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		span {
			color: $niceOrange;
		}
		p {
			width: 100%;
		}
		a {
			text-decoration: none;
		}
		&:hover a {
			text-decoration: underline;
		}
	}
}
.chatbox .textfield {
	background-color: $foreAlt;
	padding: 10px;
	display: flex;
	flex-flow: row;
	justify-content: stretch;
	gap: 10px;
	input[type="text"] {
		flex: 100%;
		background-color: $foreMain;
		outline: none;
		border: none;
		padding: 10px;
		color: #fff;
	}
	button {
		flex-shrink: 0;
		font-size: 1.5rem;
		aspect-ratio: 1/1;
		height: 50px;
		background-color: $niceOrange;
		color: #fff;
		position: relative;
		border-radius: 100vh;
		::after {
			content: "\f023";
			font-size: 1.2rem;
			position: absolute;
			right: 0;
			bottom: 0;
			color: $mainEven;
		}
		&:disabled {
			opacity: 0.5;
		}
	}
}
.chatOptions {
	width: 100%;
	display: flex;
	gap: 10px;
	& > * {
		flex: 50%;
	}
}
