@import "utils.scss";
// this is the login form that slides into view
.flyingSaucer {
    z-index: 6; transition: transform 1s ease, opacity 0.5s ease-in;
    position: fixed; overflow: hidden;
    width: clamp(200px, 90%, 350px);
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    .teamatrix {
        position: absolute; top: 0; left: 0;
        background-image: url(#{$assetPath}/noc_cup.svg);
        background-size: 10%; background-position: center;
        background-color: $niceOrange;
        z-index: -1;
        transition: opacity 0.3s ease-in;
        animation: matrix 8s ease-in-out infinite;
    }
    @keyframes matrix {
        0% { background-position: 0% 0%; }
        100% { background-position: 100% 100%; }
    }
    .banner h2 span {
        //background-color: $niceOrange;
        text-shadow: 2px 2px 5px #000;
    }
    .psa {
        padding: 10px 0; color: $darkerText;
    }
    .popup, .profileAnchor {
        position: relative;
    }
    .profileAnchor {
        background-color: #d6d6d6;
    }
    // ill finish this later
    // supposed to invert text with the tea matrix
    // .popup .banner h2 {
    //     background: inherit;
    //     background-clip: text;
    //     -webkit-background-clip: text;
    //     color: transparent;
    //     filter: invert(1) grayscale(1);
    // }
    .cozy {
        z-index: 10; width: 100%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 1s ease;
        div {
            display: flex; gap: 10px;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 90px; height: 90px;
            border-radius: 50%; background-color: $niceOrange;
            object-fit: cover;
        }
        p {
            font-size: 2.3rem; margin:0;
            color: $niceOrange;
        }
        h1 {
            color: rgb(85,85,85); margin: 0 0 10px 0;
        }
    }
}
.profilePopup {
    width: 100%; height: 100%; z-index: 1000;
    border-radius: 20px; position: fixed;
    padding: 10px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.userBadge {
    display: flex; flex-flow: row; align-items: center; gap: 5px;
    flex-shrink: 0; flex-basis: fit-content;
    div {
        height: 50px; width: 50px; border-radius: 50%; flex-shrink: 0;
        background-color: $teaColor; background-position: center;
        background-repeat: no-repeat; background-size: cover;
    }
    span {
        color: $niceOrange;
    }
    p {
        margin: 0;
    }
}
.userProfile {
    justify-self: center; width: 100%;
    display: flex; flex-direction: column;
    flex-wrap: wrap; gap: 10px;
    width: clamp(300px, 400px, 90%);
    background-color: #e5e5e5;
    border-radius: 20px;
    padding: 10px;
}
#mainProfile, .mainProfile {
    justify-self: center; width: clamp(400px, 100%, 700px);
    display: flex; flex-direction: column;
    overflow: hidden;
    width: clamp(300px, 400px, 90%);
    background-color: #1e1e1e;
}
.mainProfile {
    .primaryInfo {
        justify-content: left;
    }
    .nameField {
        input {
            color: #fff; font-size: 2rem;
            text-shadow: 2px 2px 5px #000;
            &:focus {
                color: rgb(98,98,98);
                text-shadow: none;
            }
        }
    }
}
.profileMemo {
    margin: 0; color: #000;
    opacity: 0.5;
}
.userAndPfp {
    display: flex; align-items: center; text-align: right;
    justify-content: right; gap: 10px; flex-shrink: 0;
    text-decoration: none;
    p {
        white-space: nowrap;
        margin: 0;
    }
    &:hover .profilePicture {
        border-radius: 0 !important;
    }
}
.primaryInfo .pUsername {
    margin: 0 0 0 15px;
    font-size: 1.6rem;
    color: #000;
}
.profileMsg {
    margin: 0;
    font-size: 1.1rem;
}
.niceClip:hover .bannerBtn {
    opacity: 1;
}
.bannerBtn {
    width: 40px; height: 40px; float: right;
    margin-top: 10px; margin-right: 10px; opacity: 0.5;
    transform: rotate(45deg);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
    &:hover {
        transform: rotate(0deg);
    }
    input{
        display: none;
    }
}
.aboutSection {
    gap:0; width: 100%; background-color: #fff;
    display: flex; justify-content: center;
}
.pfpNest {
    position: relative;
    margin-left: auto; margin-right: auto;
    text-align: center; overflow: hidden;
    width: 110px; height: 110px;
    label {
        width: 100%; height: 100%; display: block;
        position: absolute; border-radius: 50%;
        background-color: rgba(0,0,0,0.4);
        background-size: 30px; background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        input {
            display: none;
        }
    }
    .profilePic {
        width: 100%; height: 100%;
        border: none;
        background-color: $niceOrange;
    }
}
.pfpOverlay {
    background-color: rgba(0,0,0,0.5);
    width: 100%; height: 100%;
    position: absolute;
    border-radius: 50%;
    transition: opacity 0.5s ease-out;
    img {
        filter: invert(1);
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 30px; height: 30px;
    }
}
.profilePicture {
    width: 50px; height: 50px;
    border-radius: 50%; background-color: $niceOrange;
    transition: border-radius 0.5s ease; cursor: pointer;
}
.nameField {
    display: flex; gap: 10px;
    align-items: center; justify-content: center;
    input {
        border: none; outline: none;
        vertical-align: middle; width: 80%;
        padding: 5px;
        color: #000; font-size: 1.4rem;
        width: 90%; background: none;
        &:focus {
            background-color: #fff;
        }
        &:focus + .charCount {
            opacity: 1;
        }
        
    }
    .charCount {
        margin:0; opacity: 0; font-size: 1.5rem;
        color: #fff; font-weight: normal; width: 0;
    }
}
.aboutSection {
    box-shadow: 0 5px 5px rgba(0,0,0,0.5); z-index: 1;
    .userBio, textarea {
        padding: 10px 0; outline: none; border: none;
        text-align: center; font-size: 1.4rem; width: 100%;
        color: rgb(98,98,98);
    }
}
.buddiesFrame {
    z-index: 6; padding: 10px; background-color: $mainFore;
    width: clamp(200px, 90%, 600px); max-height: 50%; overflow-y: scroll;
    display: flex; flex-flow: column; gap: 10px;
    .buddyItem {
        position: relative;
        display: flex; flex-flow: row; justify-content: center; align-items: center; gap: 10px;
        background-color: $mainEven; padding: 10px; color: $darkerText; font-size: 1.2rem;
        .buddy {
            flex: 100%;
            display: flex; flex-flow: row; align-items: center; gap: 10px;
        }
        .pfp {
            width: 60px; height: 60px; background-color: $niceOrange; border-radius: 50%;
            flex-shrink: 0; cursor: pointer;
        }
        .buddyBtn {
            flex-shrink: 0;
        }
        &:hover {
            background-color: #bdbdbd; 
        }
    }
}
.userInfo {
    background-color: #c6c6c6; gap: 10px;
    display: flex; flex-flow: row; justify-content: center;
    padding: 10px; align-items: center;
    .banBtn {
        background-color: $teaColor; color: #fff; font-size: 1.2rem; padding: 0 15px;
        border-radius: 100vh;
    }
    .buddyInfo {
        display: flex; align-items: center; flex-flow: row; flex-shrink: 0;
        justify-content: center; gap: 10px; align-items: stretch;
        .buddies {
            display: flex; flex-flow: row; align-items: center;
            background-color: $richSmile; padding: 1rem; border-radius: 100vh;
            p {
                margin: 0;
            }
        }
    }
    p {
        font-size: 1.2rem; color: #fff;
        &:first-child {
            flex: 100%;
        }
    }
    span {
        color:#5d5d5d;
        font-weight: bold;
    }
}
.exploreBuddies {
    width: 100%; border-radius: 0.6rem;
    .head {
        color: $mainFore;
    }
}
.bRelation {
    overflow: hidden;
    p {
        color: #fff; margin: 0;
    }
    display: grid; grid-auto-flow: row; grid-template-columns: repeat(3, 1fr);
    gap: 10px; align-items: center;
    .bTooltip {
        height: 30px;
    }
}
.bCard {
    display: flex; flex-flow: row; align-items: center; gap: 5px;
    background-color: $mainEven; padding: 10px; text-decoration: none;
    border-radius: 100vh;
    img {
        width: 60px; aspect-ratio: 1/1; object-fit: cover; flex-shrink: 0;
        border-radius: 100vh;
    }
    p {
        color: $alttext;
        flex-shrink: 0;
    }
    small {
        color: $niceOrange;
        font-weight: bold;
        flex: 100%;
    }
}
.bTooltip {
    position: relative;
    &:hover .toolText{
        visibility: visible;
    }
    .toolText {
        visibility: hidden;
        background-color: #1e1e1e; color: #fff;
        position: absolute; bottom: 110%; max-width: 140px; padding: 0 5px;
        overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
        left: 50%; transform: translateX(-50%); border-radius: 0.3rem;
    }
}
.buddyBtn {
    flex-shrink: 0;
    & + input:checked {
        display: none;
    }
    input {
        display: none;
    }
    p {
        color: #fff; background-color: #414141; padding: 10px 15px;
        font-size: 1.2rem; margin: 0;
    }
}
.actions {
    display: flex; z-index: 2;
    justify-content: center;
    button {
        font-size: 1.4rem; flex: 50%;
        border: none; outline: none; padding: 15px 0;
        transition: box-shadow 0.2s ease-in;
        box-shadow: none;
        &:hover {
            box-shadow: inset 0 0 0 5px rgba(0,0,0,0.2);
        }
        &:first-child {
            background-color: $sweettea; color: #fff;
        }
    }
}
.profileMod {
    display: flex; flex-direction: row;
    gap: 10px; flex-wrap: nowrap;
    white-space: nowrap; justify-content: center;
    .nameField {
        justify-content: left;
    }
    .pfpNest {
        margin: 0; flex-shrink: 0;
    }
    .pfpNest label {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}
.smiley {
    display: flex; align-items: center;
}
.primaryInfo .actions button {
    display: inline-block;
    width: auto; color: #fff;
    &:first-child {
        background-color: #3498DB;
    }
    &:last-child {
        background-color: rgb(153, 153, 153);
    }
}
.profilePic {
    width: 60px; height: 60px;
    border: 5px solid rgba(0,0,0,0.3);
    border-radius: 50%;
    background-repeat: no-repeat; background-size: cover;
    background-position: center; background-clip:content-box;
}
.niceClip {
    background-repeat: no-repeat; background-size: cover;
    background-position: center; padding: 1rem;
}
.postOptions {
    display: flex; align-items: center;
    height: 100%;
    .editPost {
        background-color: #F39C12;
    }
    button {
        width: 50px; height: 100%;
        background-size: 50%;
        outline: none; border: none;
    }
}
.deletePost {
    background-color: $teaColor;
    background-size: 50%; z-index: 2;
    overflow: hidden; flex-shrink: 1;
    flex: 0;
}
.stealthBtn {
    transition: box-shadow 0.2s ease-in;
    &:hover {
        box-shadow: inset 0 0 0 5px rgba(0,0,0,0.2);
    }
}