@import "utils.scss";
// this is the login form that slides into view
.flyingSaucer {
	z-index: 6;
	transition: transform 1s ease, opacity 0.5s ease-in;
	position: fixed;
	overflow: hidden;
	width: clamp(200px, 90%, 350px);
	background-color: #0b0d0e;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
	.teamatrix {
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(#{$assetPath}/noc_cup.svg);
		background-size: 10%;
		background-position: center;
		background-color: $niceOrange;
		z-index: -1;
		transition: opacity 0.3s ease-in;
		animation: matrix 5s linear infinite;
	}
	@keyframes matrix {
		0% {
			background-position: 0% 0%;
		}
		100% {
			background-position: 100% 100%;
		}
	}
	.banner h2 span {
		//background-color: $niceOrange;
		text-shadow: 2px 2px 5px #000;
	}
	.psa {
		padding: 10px 0;
		color: rgba(255, 255, 255, 0.5);
		a {
			color: $niceOrange;
		}
		p {
			margin: 0;
		}
		p span {
			color: #fff;
		}
	}
	.popup,
	.profileAnchor {
		position: relative;
	}
	.profileAnchor {
		background-color: $foreAlt;
	}
	// ill finish this later
	// supposed to invert text with the tea matrix
	// .popup .banner h2 {
	//     background: inherit;
	//     background-clip: text;
	//     -webkit-background-clip: text;
	//     color: transparent;
	//     filter: invert(1) grayscale(1);
	// }
	.cozy {
		z-index: 10;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 1s ease;
		div {
			display: flex;
			gap: 10px;
			justify-content: center;
			align-items: center;
		}
		img {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			background-color: $niceOrange;
			object-fit: cover;
		}
		p {
			font-size: 2.3rem;
			margin: 0;
			color: $niceOrange;
		}
		h1 {
			color: rgb(85, 85, 85);
			margin: 0 0 10px 0;
		}
	}
}
.profilePopup {
	width: 100%;
	height: 100%;
	z-index: 1000;
	border-radius: 20px;
	position: fixed;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.userBadge {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 5px;
	flex-shrink: 0;
	flex-basis: fit-content;
	div {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		flex-shrink: 0;
		background-color: $teaColor;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	span {
		color: $niceOrange;
	}
	p {
		margin: 0;
	}
}
.userProfile {
	justify-self: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	width: clamp(300px, 400px, 90%);
	background-color: #e5e5e5;
	border-radius: 20px;
	padding: 10px;
}
#mainProfile,
.mainProfile {
	justify-self: center;
	width: clamp(400px, 100%, 700px);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: clamp(300px, 400px, 90%);
	background-color: #1e1e1e;
}
.mainProfile {
	.primaryInfo {
		justify-content: left;
	}
}
.privateAlert.border {
	// border: 4px dashed $niceOrange;
	margin: 0;
}
.privateAlert {
	color: $secondFore !important;
	h2 {
		margin-top: 5rem;
	}
	a {
		color: $niceOrange;
	}
}
.privatePrompt a {
	color: $niceOrange;
}
.privateAlert.profile {
	i {
		color: $niceOrange;
	}
}
.privacyModes {
	display: flex;
	flex-flow: row;
	button {
		flex: 50%;
		padding: 1rem 0;
	}
	button[active] {
		background: $niceOrange;
		color: #fff;
	}
}
.profileMemo {
	margin: 0;
	color: #000;
	opacity: 0.5;
}
.userAndPfp {
	display: flex;
	align-items: center;
	text-align: right;
	justify-content: right;
	border-radius: 100vh;
	padding-left: 1rem;
	gap: 10px;
	flex-shrink: 0;
	text-decoration: none;
	width: max-content;
	margin-left: auto;
	p {
		white-space: nowrap;
		margin: 0;
	}
}
.primaryInfo .pUsername {
	margin: 0 0 0 15px;
	font-size: 1.6rem;
	color: #000;
}
.profileMsg {
	margin: 0;
	font-size: 1.1rem;
}
.niceClip:hover .bannerBtn {
	opacity: 1;
}
.niceClip.banner .removeBanner {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 2rem;
	height: 50px;
	aspect-ratio: 1/1;
	background: none;
	color: $niceOrange;
}
.bannerBtn {
	width: 40px;
	height: 40px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease;
	&::after {
		content: "\f030";
		position: absolute;
		color: #fff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3rem;
	}
	input {
		display: none;
	}
}
.aboutSection {
	gap: 0;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
}
.pfpNest {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
	width: 110px;
	height: 110px;
	label {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.4);
		background-size: 30px;
		background-position: center;
		background-repeat: no-repeat;
		&::after {
			content: "\f030";
			position: absolute;
			color: #fff;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 3rem;
		}
		cursor: pointer;
		input {
			display: none;
		}
	}
	.profilePic {
		width: 100%;
		height: 100%;
		border: none;
		background-color: $niceOrange;
	}
}
.pfpOverlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	transition: opacity 0.5s ease-out;
	img {
		filter: invert(1);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 30px;
		height: 30px;
	}
}
.profilePicture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $foreMain;
	transition: border-radius 0.5s ease;
	cursor: pointer;
}
.nameField {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	position: relative;
	input {
		border: none;
		outline: none;
		vertical-align: middle;
		flex: 100%;
		padding: 5px;
		background: none;
		color: #fff;
		font-size: 2rem;
		&:focus {
			background-color: rgba($color: #fff, $alpha: 0.5);
		}
		&:focus + .charCount {
			opacity: 1;
		}
	}
	.charCount {
		margin: 0;
		opacity: 0;
		font-size: 1.5rem;
		color: #fff;
		font-weight: normal;
		width: 0;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.aboutSection {
	position: relative;
	z-index: 1;
	@keyframes abouthover {
		0% {
			transform: translateY(0%);
		}
		50% {
			transform: translateY(-10%);
		}
		100% {
			transform: translateY(0%);
		}
	}
	.hint {
		bottom: calc(100% + 0.5rem);
		border-radius: 100vh;
		right: 5%;
		animation: abouthover 2s linear infinite;
		&::after {
			border-color: $attentionBack transparent transparent transparent;
			top: 95%;
		}
	}
	.userBio {
		background-color: $foreAlt;
	}
	.userBio,
	textarea {
		padding: 10px 0;
		outline: none;
		border: none;
		text-align: center;
		font-size: 1.4rem;
		width: 100%;
		color: $textMain;
	}
}
.buddiesFrame {
	z-index: 6;
	padding: 10px;
	background-color: $foreAlt;
	width: clamp(200px, 90%, 600px);
	max-height: 50%;
	overflow-y: scroll;
	display: flex;
	flex-flow: column;
	gap: 10px;
	.buddyItem {
		position: relative;
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		background-color: $foreMain;
		padding: 0.5rem;
		color: $textMain;
		font-size: 1.2rem;
		.buddy {
			flex: 100%;
			display: flex;
			flex-flow: row;
			align-items: center;
			gap: 10px;
		}
		.pfp {
			width: 60px;
			height: 60px;
			background-color: $foreAlt;
			border-radius: 50%;
			flex-shrink: 0;
			cursor: pointer;
		}
		.buddyBtn {
			flex-shrink: 0;
		}
		&:hover {
			color: #fff;
		}
	}
}
.modActions {
	padding: 1rem;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	& > i {
		font-size: 2rem;
		color: $textMain;
	}
	button {
		color: #fff;
		font-size: 1.2rem;
		padding: 0.5rem 1.5rem;
		border-radius: 100vh;
		white-space: nowrap;
	}
	.deleteBtn {
		background-color: $teaColor;
	}
	.banBtn {
		background-color: #111;
	}
	.wipeBtn {
		background-color: $attentionBack;
	}
}
@media screen and (max-width: 550px) {
	.modActions {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
.userInfo {
	background-color: $foreMain;
	gap: 2rem;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 2rem 1rem;
	align-items: center;
	flex-wrap: wrap;
	.buds {
		color: $niceOrange;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.buddyInfo {
		display: flex;
		align-items: center;
		flex-flow: row;
		flex-shrink: 0;
		justify-content: center;
		gap: 10px;
		align-items: center;
		.buddies {
			display: flex;
			flex-flow: row;
			align-items: center;
			background-color: $richSmile;
			padding: 1rem;
			border-radius: 100vh;
			p {
				margin: 0;
			}
		}
	}
	.buddyInfo .stack {
		display: flex;
		flex-flow: column;
		gap: 0.5rem;
		.list a {
			aspect-ratio: 1/1;
			display: inline-block;
			line-height: 0;
			img {
				object-fit: cover;
				height: 100%;
				aspect-ratio: 1/1;
				border-radius: 100vh;
			}
		}
	}
	a {
		color: $niceOrange;
	}
	p {
		white-space: nowrap;
		font-size: 1.2rem;
		color: #fff;
		text-align: left;
	}
	span {
		color: #5d5d5d;
		font-weight: bold;
	}
}
.exploreBuddies {
	width: 100%;
	border-radius: 0.6rem;
	.head {
		color: $mainFore;
	}
}
.bRelation {
	overflow: hidden;
	color: $textMain;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	align-items: center;
	.bTooltip {
		height: 30px;
	}
}
.bRelation.flex {
	display: flex;
	flex-flow: row;
	gap: 0.5rem;
}
.bCard {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 5px;
	background-color: #2b3137;
	text-decoration: none;
	border-radius: 100vh;
	justify-content: space-between;
	img {
		width: 60px;
		aspect-ratio: 1/1;
		object-fit: cover;
		flex-shrink: 0;
		border-radius: 100vh;
	}
	p {
		color: rgba(255, 255, 255, 0.5);
		flex-shrink: 0;
		margin: 0;
		margin-right: 1rem;
		flex: 100%;
		text-align: right;
	}
	&:hover p {
		color: #fff;
	}
	small,
	i {
		color: $niceOrange;
		font-weight: bold;
		flex-shrink: 0;
		flex: 100%;
	}
}
.bTooltip {
	position: relative;
	&:hover .toolText {
		visibility: visible;
	}
	.toolText {
		visibility: hidden;
		background-color: #1e1e1e;
		color: #fff;
		position: absolute;
		bottom: 110%;
		max-width: 140px;
		padding: 0 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 0.3rem;
	}
}
.buddyBtn {
	flex-shrink: 0;
	& + input:checked {
		display: none;
	}
	input {
		display: none;
	}
	p {
		color: #fff;
		background-color: #414141;
		padding: 10px 15px;
		font-size: 1.2rem;
		margin: 0;
	}
}
.actions {
	display: flex;
	z-index: 2;
	justify-content: center;
	button {
		font-size: 1.4rem;
		flex: 50%;
		border: none;
		outline: none;
		padding: 15px 0;
		transition: box-shadow 0.2s ease-in;
		box-shadow: none;
		&:hover {
			box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.2);
		}
		&:first-child {
			background-color: $sweettea;
			color: #fff;
		}
	}
}
.profileMod {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: nowrap;
	white-space: nowrap;
	justify-content: center;
	.nameField {
		justify-content: left;
	}
	.pfpNest {
		margin: 0;
		flex-shrink: 0;
	}
	.pfpNest label {
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
}
.smiley {
	display: flex;
	align-items: center;
}
.primaryInfo .actions button {
	display: inline-block;
	width: auto;
	color: #fff;
	&:first-child {
		background-color: #3498db;
	}
	&:last-child {
		background-color: rgb(153, 153, 153);
	}
}
.profilePic {
	width: 60px;
	height: 60px;
	border: 5px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-clip: content-box;
}
.niceClip {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.niceClip.banner {
	padding: 1rem;
}
.postOptions {
	display: flex;
	align-items: center;
	height: 100%;
	.editPost {
		background-color: #f39c12;
	}
	button {
		width: 50px;
		height: 100%;
		background-size: 50%;
		outline: none;
		border: none;
	}
}
.deletePost {
	background-color: $teaColor;
	background-size: 50%;
	z-index: 2;
	overflow: hidden;
	flex-shrink: 1;
	flex: 0;
}
.stealthBtn {
	transition: box-shadow 0.2s ease-in;
	&:hover {
		box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.2);
	}
}
