$teaColor: #ed4956;
//$teaColor:#D35400;
$sweettea: #FF5733;
$niceOrange:#f7941d;
$usercolor:$niceOrange;
$assetPath:"/assets/";

$lightText:#f5f5f5;
$darkText:#818181;
$alttext:#414141;
$darkerText:#626262;

$paleSmile:#F9E79F;
$richSmile:#F5B041;

$mainFore:#cfcfcf;
$mainOdd:#aaaaaa;
$mainEven:#d9d9d9;
//$mainEven:#cacaca;

$secondFore:#6f6f6f;

// new theme vars
$foreMain: #22262b;
$foreAlt: #2b3137;
$textMain: rgba(255,255,255,0.7);

$boxRad: 0.8rem;